.top-sec {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.top-left h4 a {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.top-left p {
  color: #333;
  font-size: 14px;
  margin-top: 10px;
}

.top-right p {
  color: #333;
  font-size: 14px;
  font-weight: bold;
}

.bottom-sec {
  padding: 20px;
  overflow: hidden;
}

.bottom-sec p {
  color: #333;
  font-size: 14px;
}

