/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
}
.x {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header, main {
  width: 100%;
}
.container-fluid{
padding-top: 128px;
background-color: rgba(255,195,161, 0.504);
}

@media (max-width: 600px) {
  img {
    max-width: 100%;
  }
}

img{
border: 2px solid rgb(190, 158, 158);
}

.filter-part{
border: 2px solid rgb(190, 158, 158);
}

@media (max-width: 992px) {
  .container-fluid{
    padding-top: 222px;
}


}


