<app-public-header></app-public-header>
<mat-card>
      <mat-card-header>
        <mat-card-title>Experiences</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Yaklaşık 8 aydır sellerinvoices adlı şirkette  5-6 kişilik bir ekiple birlikte çalışıyorum. Frontend tarafında tek başımayım. Daha büyük bir ekip ve çalışma ortamında bulunabileceğim bir yere geçmek isterim.Çalıştığım proje amazon üzerinden gelir elde eden kişilerin vergilerini sorunsuz ve en kısa şekilde ödeyebileceği güvenli otomatize bir platform oluşturmak üzerine.
        </p>
        <p>Angular ile ilgili form yapılarına hakimim , life cyclelar hakkında yeterli bilgiye sahibim .Data binding yapılarına hakimim.Input ve Output decoratorları ile küçük çaplı state managementları yönetebiliyorum. Rxjs ile lightweight state management yapabilirim. Lazy loading routing yapılarını sıfırdan kurabilecek seviyedeyim.UI componentları için Angular Material , PrimeNG kullanabiliyorum.  Bootstrap kullanarak responsive tasarım yapabiliyorum . Rxjs ile reactive ve reusable program kodlayabiliyorum.RestApi ile http isteklerini kullanabiliyorum.Gelen Observable değerleri alıp manipüle edebiliyorum. Jasmine ve karma ile angular için giriş seviyesinde test kodları yazabiliyorum.</p>
        <p>Amazon siparişlerini anlık görüntüleyebileceği , siparişler için faturalarını kesebileceği , gider belirtebileceği ve aylık muhasebe kayıtlarını görebileceği pageler bulunduran bir web uygulaması. Amazon hesabı bağlanıyor. Genel gelir gider tablolarıyla belirli aralıklardaki kar zararları görüntüleyebileceğiniz bir dashboard. Ayrıca userla alakalı şifre değiştirme profilini güncelleme dil değiştirme ve karalisteye asin ekleme gibi özelliklerin olduğu sayfalar mevcut.bunların hepsi login olmuş kullanıcının panelinde gözüken sayfalar.önceki sayfalar için de hizmetleri görüntüleyebileceği kayıt olabileceği , tarafımıza mesaj gönderebileceği (jivochat) kısımlar mevcut.</p>
        <p>React js ile turkcelle 41 günlük bir stajım oldu.Fotoğraf ve video editi yapabileceğim yaptığım editleri indirebileceğim bi uygulama geliştirdim.Onun dışında bulunduğum departmanda halihazırda yürütülen projelerde ufak görevler alarak version control systemler hakkında bilgi sahibi oldum. Halihazırda kullandığım GitHub desktop , source tree , bitbucket bulunmakta. Fetch etme branch açma remote ve local branchler arasında işlemler yapma,commit , merge ,pull request , pull , push ve stash gibi kavramlara hakim olduğumu söyleyebilirim.</p>
        <p>Development in Software Engineering dersinde frontend ekibinde react kullanarak Artie adında sanat eserlerinin paylaşılıp kullanıcıların etkileşim içinde olabileceği instagram mantığında bir uygulama oluşturduk. Search like update item post item gibi comment gibi özellikler var.</p>
        <p>Olasılık ve istatistik dersi aldım. Matematiğime çok güveniyorum.Algoritma analizi dersinde python ile paralel programlama üzerine proje yaptım.Data structures and Algorithms dersinde c++ kullanarak birden fazla proje yaptım.Üniversitenin ilk senesinde java ile object oriented programming deneyimim oldu. </p>
      </mat-card-content>
</mat-card> 
<mat-card>
      <mat-card-header>
        <mat-card-title>Future Plans</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Spring Boot ve Spring Cloud ile Ölçeklenebilir Java Mikro Hizmetleri Oluşturma
        </p>
        <p>Visibility, daha iyi user experience ve devamlılık konusunda web applicationları iyileştirme konusunda  search engine optimization konusunda kendimi geliştirmeyi düşünüyorum.</p>
        <p>Ngrx ile statemanagement konusunda ileri seviye bilgi sahibi olmak.</p>
        <p>Angular Security</p>
        <p>React ,redux , next.js konusunda ileri seviye bilgi sahibi olmak </p>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
</mat-card>
