<div class="x">
<header>
  <div class="header-left">
    <h3>Kutay Saran</h3>
  </div>
  <div class="header-right">
    <input type="text" placeholder="Arama">
  </div>
</header>
<nav>
  <ul>
    <li [routerLinkActive]="['active']"><a routerLink="/home">Home</a></li>
    <li [routerLinkActive]="['active']"><a routerLink="/health">Health</a></li>
    <li [routerLinkActive]="['active']"><a routerLink="/science">Science</a></li>
    <li [routerLinkActive]="['active']"><a routerLink="/technology">Technology</a></li>
    <li [routerLinkActive]="['active']"><a routerLink="/sports">Sports</a></li>
    <li [routerLinkActive]="['active']"><a routerLink="/business">Business</a></li>
    <li [routerLinkActive]="['active']"><a routerLink="/entertainment">Entertainment</a></li>
    <li [routerLinkActive]="['active']"><a routerLink="/general">General</a></li>
    <li [routerLinkActive]="['active']"><a routerLink="/about">About</a></li>
  </ul>
</nav>
</div>
<br><br>

