<app-public-header></app-public-header>
<div>
  <input type="text" [(ngModel)]="word">
  <button (click)="searchByWord()">Search</button>
  <span style="margin-left:320px; font-size: x-large; font-weight: bolder;">Aranan Kelime: {{word}}</span> 
</div>
<ng-container *ngIf="topHeadlines$">
  <ng-container *ngIf="topHeadlines$ | async as topHeadlines">
    <ul>
      <li *ngFor="let headline of topHeadlines.articles">
        <h3>{{ headline.title }}</h3>
        <p>{{ headline.description }}</p>
        <p>Author: {{ headline.author }}</p>
        <p>Published at: {{ headline.publishedAt | date }}</p>
        <img [src]="headline.urlToImage" [alt]="headline.title" width="400px">
      </li>
    </ul>
  </ng-container>
</ng-container>